.auth_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.auth_container-inner {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 50%;
}
.auth_container-inner .header,
.auth_container-inner .sub-header {
  text-align: center;
}
.button_container {
  margin-top: 1rem;
}
