.main_header {
  background: linear-gradient(90deg, var(--primary200) 0%, var(--primary100) 100%);
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 5rem;
  width: 100%;
  box-shadow: 1px 2px 10px #00000025;
}
.main_header .iconbtn svg {
  width: 1.5rem;
  height: 1.5rem;
}

.app-main {
  width: 100vw;
  height: 100vh;
  padding-top: calc(5rem + 0rem);
  background: var(--primary100);
  overflow-y: hidden;
}

.app-main .app_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.app-main .app_inner .container {
  flex: 1;
  width: 100%;
  height: 100vh;
  padding: 1rem 2rem;
}
.app_inner .task_add {
  background-color: var(--primary200);
}
.app_inner .task_nProgresss {
  background-color: var(--primary300);
}
.app_inner .task_completed {
  background-color: var(--primary400);
  /* color: #ffffffee; */
}

.task_item {
  background-color: #fff;
  box-shadow: 1px 2px 10px #00000025;
  border-radius: 10px;
  cursor: pointer;
  /* transition: 0.3s; */
  margin-bottom: 1rem;
}
.item_containers {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  min-height: 5rem;
  padding: 0 0.5rem;
}
.item_containers::-webkit-scrollbar {
  width: 0;
}
.task_item .header {
  border-bottom: 1px solid #00000025;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task_item .header svg {
  fill: grey;
}
.task_item .body {
  padding: 1rem;
}

.addTask_modal .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.11);
}
.addTask_modal .header svg {
  fill: red;
  width: 1.3rem;
  height: 1.3rem;
}
.addTask_modal .body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 2rem;
  width: 100%;
}
.addTask_modal .body .inputGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.addTask_modal .body .inputGroup input {
  width: 100%;
}
.addTask_modal .body .inputGroup > h6 {
  font-size: 1rem;
  font-weight: 500;
}
.addTask_modal .body .fillbtn {
  font-size: 1.2rem;
  padding: 1rem;
}

.addTask_modal .fillbtn {
  background-color: #64bfcb;
  transition: 0.3s;
}
.addTask_modal .fillbtn:hover {
  background-color: #02626e;
}
.inputGroup .textarea {
  border: 1px solid rgba(128, 128, 128, 0.349);
  min-height: 5rem;
  border-radius: 5px;
  padding: 0.5rem;
}
.main_header .user_profile {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main_header .user_profile .dropdown.show {
  height: 14rem;
  overflow: unset;
}
.main_header .user_profile .dropdown {
  background-color: #fbfbfb;
  border-radius: 0.7rem;
  min-width: 13rem;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 2rem;
  z-index: 5;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.308);
}
.main_header .user_profile .dropdown ul {
  list-style-type: none;
}
.main_header .user_profile .dropdown ul .item:last-child {
  border-bottom: unset;
}
.main_header .user_profile .dropdown ul .item:hover {
  border-color: rgb(56, 56, 56);
}
.main_header .user_profile .dropdown ul .item {
  border-bottom: 1px solid rgba(128, 128, 128, 0.397);
  padding: 1rem 1.5rem;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
}
.main_header .user_profile .iconbtn {
  background-color: transparent;
  flex-direction: row-reverse;
  align-items: end;
  gap: 0.2rem;
  font-weight: 600;
}
.main_header .user_profile .iconbtn svg {
  width: 1.2rem;
  height: 1.2rem;
}
.task_add.container h3,
.task_inProgress.container h3,
.task_completed.container h3 {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  /* border-bottom: 1px solid #000; */
  text-align: center;
}
.dropdown .log-out {
  display: flex;
  align-items: start;
  gap: 1rem;
}
.dropdown .log-out span {
  color: rgb(187, 14, 14);
}
.dropdown .log-out svg {
  height: 1.5rem;
}
.dropdown .watch_video {
  padding: 0;
}
.dropdown .watch_video {
  width: 100%;
  height: 100%;
  color: #000;
  text-decoration: none;
}
.default_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}

@media (max-width: 600px) {
  .app-main .app_inner {
    flex-direction: column;
  }
  .app-main {
    overflow-y: auto;
  }
  .main_header {
    padding: 0.5rem 1rem;
  }
  .main_header .user_profile .dropdown {
    left: 0;
  }
}
